<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.pidory.bot</string>

    <key>ProgramArguments</key>
    <array>
        <string>__PROJECT_DIR__/target/release/pidory</string>
    </array>

    <key>WorkingDirectory</key>
    <string>__PROJECT_DIR__</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>__HOME_DIR__/.local/bin:__HOME_DIR__/.cargo/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>PIDORY_CONFIG</key>
        <string>__PROJECT_DIR__/config.toml</string>
        <key>RUST_LOG</key>
        <string>info</string>
        <key>PIDORY_DISCORD_TOKEN</key>
        <string>__DISCORD_TOKEN__</string>
    </dict>

    <key>KeepAlive</key>
    <true/>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>__HOME_DIR__/.pidory/stdout.log</string>

    <key>StandardErrorPath</key>
    <string>__HOME_DIR__/.pidory/stderr.log</string>
</dict>
</plist>
